{% extends 'base.html' %}
        {% block content %}
        <div>
            <div class="wrapper">
                <div class="profile-card js-profile-card">
                  <div class="profile-card__img">
                    <img src="https://pbs.twimg.com/media/EcuKbuZU4AIF3fb?format=jpg&name=large" alt="profile card">
                  </div>
              
                  <div class="profile-card__cnt js-profile-cnt">
                    <div class="profile-card__name">Kim Younghoon</div>
                    
                    <div class="profile-card-loc">
                      <span class="profile-card-loc__icon">
                        <svg class="icon"><use xlink:href="#icon-location"></use></svg>
                      </span>
                    </div>
                </div>
                </div>
              </div>
              
        </div>
        
        {% endblock %}
